.pagination.section {
  margin: 0 auto;
  padding: 40px 0;
  @include mq(mobile-only) {
    width: 280px;
  }

  & .tui-page-btn.tui-first,
  & .tui-page-btn.tui-last {
    display: none;
  }

  & .tui-pagination .tui-page-btn {
    height: 40px;
    width: 40px;
    padding: 0;
    border: none;
    border-radius: 5px;

    @include font-style(12px, 500, 40px, null, black);
    &.tui-last-child,
    &.tui-prev-is-ellip {
      @include mq(mobile-only) {
        display: none;
      }
    }
  }
  & .tui-pagination .tui-ico-ellip {
    margin-top: 0;
    vertical-align: middle;
  }
  & .tui-pagination .tui-is-selected {
    color: $whiteColor;
    background-color: $accentColor;
    border-left: none;
    border-right: none;
  }

  & .tui-pagination .tui-ico-next {
    width: 16px;
    height: 16px;
    background: url('../images/arrow-right.svg');
  }

  & .tui-pagination .tui-is-disabled .tui-ico-prev,
  & .tui-pagination .tui-is-disabled .tui-ico-next {
    width: 40px;
    height: 40px;
    background: #eee;
  }
  & .tui-pagination .tui-ico-prev {
    width: 16px;
    height: 16px;
    background: url('../images/arrow-left.svg');
  }
  & .tui-pagination .tui-prev {
    margin-right: 0;
  }
  & .tui-pagination .tui-next {
    margin-left: 0;
  }
}
