// ---------Colors----------
$accentColor: #ff6b08;
$whiteColor: #ffffff;
$blackColor: #000000;
$logoColor: #818181;
$backGroundColor: #f7f7f7;
$textCopyright: #545454;
$modalInfo: #8c8c8c;
$errorColor: #ff001b;
$fotterBackDroundColor: #453c3c;

// Fonts
$mainFont: 'Roboto', sans-serif;
