</main>
<footer class="footer" data-footer="">
    <div class="footer-container" >
        <div class="logo-info">
        <a href="./index.html" class="logo">
            <svg width="24" height="24" class="logo-icon">
                <use  href="images/icons.svg#icon-film" class="icon"></use>
            </svg>
            <span class="logo-text-footer">Filmoteka</span>
        </a>
    </div>
    <div class="text-info-footer">
        <p class="text-info">JOIN US ON OUR NETWOTKS</p>
        <p class="text-info">SUPPORT</p>
    </div>
    <div class="icons-img">
        <svg  class="icon" width="30" height="30" >
            <use  href="images/icons.svg#icon-twitter" class="icon"></use>
        </svg>
        <svg class="icon" width="30" height="30" >
            <use  href="images/icons.svg#icon-instagram" class="icon"></use>
        </svg>
        <svg class="icon" width="30" height="30">
            <use  href="images/icons.svg#icon-facebook" class="icon"></use>
        </svg> 
        <a class="text-mailo" href="mailto:supportFilmTv@gmail.com">supportFilmTv@gmail.com</a>
    </div>
<div class="developer">
    <p class="developer-text">2022</p>
    <p class="developer-text">All Rights Reserved</p>
    <p class="developer-text">Developer with by </p>
    <a href="/" class="footer-modalButton link-button"> GO IT 🖤 STUDENTS</a>
</div>
</div>
</footer>
