<section class="gallery">
  <h2 class="gallery-tittle visually-hidden">Gallery cards</h2>
  <div class="container">
    <ul class="gallery-list">
      <li class="card">
        <img class="card-img" src="./images/phone/testImage.jpg" alt="image" />
        <h3 class="card-title">GREYHOUND</h3>
        <p class="card-description">Drama, Action | 2020<span class="card-rating">10.0 </span></p>
      </li>
      <li class="card">
        <img class="card-img" src="./images/phone/testImage.jpg" alt="image" />
        <h3 class="card-title">GREYHOUND</h3>
        <p class="card-description">Drama, Action | 2020<span class="card-rating">10.0</span></p>
      </li>
      <li class="card">
        <img class="card-img" src="./images/phone/testImage.jpg" alt="image" />
        <h3 class="card-title">GREYHOUND</h3>
        <p class="card-description">Drama, Action | 2020<span class="card-rating">10.0</span></p>
      </li>
      <li class="card">
        <img class="card-img" src="./images/phone/testImage.jpg" alt="image" />
        <h3 class="card-title">GREYHOUND</h3>
        <p class="card-description">Drama, Action | 2020<span class="card-rating">10.0</span></p>
      </li>
      <li class="card">
        <img class="card-img" src="./images/phone/testImage.jpg" alt="image" />
        <h3 class="card-title">GREYHOUND</h3>
        <p class="card-description">Drama, Action | 2020<span class="card-rating">10.0</span></p>
      </li>
      <li class="card">
        <img class="card-img" src="./images/phone/testImage.jpg" alt="image" />
        <h3 class="card-title">GREYHOUND</h3>
        <p class="card-description">Drama, Action | 2020<span class="card-rating">10.0</span></p>
      </li>
    </ul>
  </div>
</section>
