<button class="openModal">Open Modal Test</button>
<div class="backdrop js-backdrop">
  <div class="modal">
    <div class="modal__img--block">
      <img
        class="modal__img"
        src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/nJUHX3XL1jMkk8honUZnUmudFb9.jpg"
        alt="Name of film"
      />
    </div>
    <div class="film modal__film">
      <h2 class="film__title">A FISTFUL OF LEAD</h2>
      <ul class="film__list">
        <li class="film__item">
          <p class="film__info">Vote / Votes</p>
          <p class="film__value film__value--orange">7.3</p>
          <p class="film_value-slash">&nbsp;/&nbsp;</p>
          <p class="film__value film__value--gray">1260</p>
        </li>
        <li class="film__item">
          <p class="film__info">Popularity</p>
          <p class="film__value">100.2</p>
        </li>
        <li class="film__item">
          <p class="film__info">Original Title</p>
          <p class="film__value">A FISTFUL OF LEAD</p>
        </li>
        <li class="film__item">
          <p class="film__info">Genre</p>
          <p class="film__value">Western</p>
        </li>
      </ul>
      <ul class="modal__social social">
        <li class="social__item">
          <a class="social__link" href="http://" target="_blank" rel="noopener noreferrer">
            <svg width="20" height="20">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="http://" target="_blank" rel="noopener noreferrer">
            <svg width="20" height="20">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="http://" target="_blank" rel="noopener noreferrer">
            <svg width="20" height="20">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="modal__about">
        <h3 class="film__pre-title">About</h3>
        <a
          class="modal__trailer-link"
          href="https://www.youtube.com/watch?v=MCAnQIs_kAs&ab_channel=MovieTrailersSource"
        >
          <svg class="modal__trailer-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
          <p>Watch Trailer</p></a
        >
      </div>
      <p class="film__description">
        Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
        most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
        the other three escapes with bags of gold hide out in the abandoned gold mine where they
        happen across another gang of three – who themselves were planning to hit the very same
        bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
        filled with lead... they’ve been double crossed – but by who and how?
      </p>
      <div class="modal__btn-block">
        <button class="modal__btn modal__btn--orange" type="button">add to Watched</button>
        <button class="modal__btn" type="button">add to queue</button>
      </div>
      <button type="button" class="modal__close-btn js-modal__close-btn">
        <svg viewBox="0 0 30 30" width="30" height="30" class="icon-close">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
