<div class="loading">
  <div class="loading__text-after">
    <span class="loading__text-words">F</span>
    <span class="loading__text-words">I</span>
    <span class="loading__text-words">L</span>
    <span class="loading__text-words">M</span>
    <span class="loading__text-words">O</span>
    <span class="loading__text-words">T</span>
    <span class="loading__text-words">E</span>
    <span class="loading__text-words">K</span>
    <span class="loading__text-words">A</span>
  </div>
  <div class="loading__text-before">
    <span class="loading__text-words">L</span>
    <span class="loading__text-words">O</span>
    <span class="loading__text-words">A</span>
    <span class="loading__text-words">D</span>
    <span class="loading__text-words">I</span>
    <span class="loading__text-words">N</span>
    <span class="loading__text-words">G</span>
  </div>
</div>
